

 1.1. Historia de los computadores

El hombre debido a su condición innata de investigar y resolver problemas, ve la necesidad de hacer cálculos. Desde siglos antes de Cristo el hombre empezó a calcular de forma muy rudimentaria pero eficaz usando los dedos de las manos. Al ver que ésta técnica no era suficiente para resolver problemas de cálculos más complejos, en Egipto y China se ideó el ábaco, con el cual se puede realizar sumas y restas. El **ábaco** es considerado como el primer dispositivo de cómputo que precedió a la computadora. En 1960 el matemático y filósofo francés Blaise Pascal produjo una máquina de cálculo mecánica llamada **Pascalina** que funcionaba con ruedas y engranajes, con el fin de ayudar a su padre en las labores cómo recaudador de impuestos, que le requerían efectuar un gran numero de cálculos aritméticos cotidianamente. La primera computadora análoga utilizada de manera amplia y extensiva fue la **regla de cálculo** inventa en el siglo XVII, la cual es un instrumento de cálculo aritmético que permitía hacer cálculos más complejos cómo potenciación, función trigonométrica, logaritmos, entre otros. Sin embargo, el hombre no solo ha necesitado instrumentos para ayudarse a contar, sino también formas de registrar información. En el siglo *XX* se desarrollaron las primeras computadoras automáticas que hacían posible la aplicación de decisiones lógicas durante el cálculo de los datos; éstas computadoras eran de un tamaño enorme, muy inflexibles, pero con un aumento muy sustancial en la velocidad de procesos de operación.

In [ ]:
from google.colab import files
from IPython.display import Image, HTML
uploaded = files.upload()

Saving Python.png to Python.png



1.2. Partes y funciones de la computadora


1. Pantalla: Visualizador que muestra al usuario los resultados del procedimiento de una operación.
2. Tarjeta madre: A ella se conectan todos los componentes del computador para poder interpretar las instrucciones contenidas en los programas
3. Procesador / CPU (Unidad central de procesamiento): Contiene todos los circuitos que guardan los datos para controlar, interpretar y ejecutar las instrucciones que envían los usuarios.
4. Memoria RAM (Memoria de acceso aleatorio): Almacena las instrucciones de los programas y la información que entra a través de los dispositivos, se le conoce cómo memoria volátil ya que cada vez que se apaga los datos desaparecen, hasta que se vuelve a usar.
5. Puertos PCI (Interconexión de componentes periféricos): Conecta distintos dispositivos periféricos directamente a la placa base. Por ejemplo, tarjeta de video, audio, red, entre otros.
6. Fuente de alimentación de energía: Convierte la energía suministrada desde la corriente del toma (señal alterna) en corriente directa (señal continua) para cada uno de los dispositivos.
7. Unidad óptica de almacenamiento: Es una unidad de discos que usa luz láser como parte del proceso de lectura o escritura de datos.
8. Disco duro: Dispositivo de almacenamiento que emplea un sistema de grabación magnética para almacenar datos digitales. Se conoce cómo un dispositivo de almacenamiento permanente.
9. Teclado: Dispositivo que permite introducir datos u órdenes, está inspirado en la máquina de escribir
10. Ratón: Dispositivo apuntador.



1.3. Almacenamiento de la información
*   **La memoria ROM** (Read-Only Memory) guarda información que NO cambia. La memoria contenida en ésta no puede ser modificada. Almacena, por ejemplo, los programas que se deben iniciar al prender el computador.
*   **La memoria RAM** (Random Access Memory) almacena temporalmente información que puede ser modificada en cualquier momento. La información en la memoria RAM se pierde cuando se apaga el computador.

La información en un computados se mueve a través del bus, el cual es un sistema de interconección del procesador con los dispositivos de entrada/salida y la memoria. Por este bus icirculan datos, señales de control o direcciones de memoria; de acuerdo a éstas funciones ecxisten tres tipos de buses

*   **Bus de datos:** Permite transportar datos entre las componentes de la computadora a través de un circuito impreso. El ancho del bus de datos permite saber la cantidad de máxima información que se puede transportar en un segundo.
*   **Bus de direcciones:** Permite indicar el origen y destino de los datos.
*   **Bus de control:** Proporciona señales para coordinar las diferentes tareas, sin que haya colisión de información.



1.5. Sistemas Numericos y código binario

1.5.1. Los números y representación de cantidades

Los números nacen como una consecuencia natural de la invensión del lenguage, podríamos decir que las civilizaciones tuvieron su desarrollo tan acelerado después de inventar la manera en que las historias quedaran registradas de forma permanente en un objeto físico, es decir, una tablilla de piedra, una hoja de papiro, un jarro de arcilla, etc. Con la invención de la esritura surgen los símbolos necesario para contar y establecer la relación directa entre cantidad y el símbolo. Inicialmente los números no surgieron para satisfacer la necesidad de escribir axiomas o teorías matematicas complejas sino por algo más banal como saber cuantas cabras o gallinas se tenían. Otra cosa importante es que las civilizaciones antiguas no necesariamente contaban como lo hacemos hoy en día, es decir con diez símbolos para representar cantidades. Muchas contaban con distintas bases, por ejemplo los Babilonios tenían dos bases una de 10 y otra de 60 para contar, los Chinos usaban una base de 10 para contar y una base de 2 para las cábalas. Los Mayas una base de 20 y otra de 5. Pero es cierto que la mayoría de las civilizaiones, Romanos, Griegos, Arabes, han contado con bases de 10; tal vez obedeciendo al hecho de que en las manos tenemos 10 dedos.
Ahora veamos como se cuenta en algunas bases distintas.
Supongamos que tenemos la siguiente figura que representa un cargamento de piedras preciosas de gran valor, debemos informar cuántas de ellas hay

Lo primero que haremos será definir un conjunto de simbolos para representar las cantidades básicas, por ejemplo 0,1,2,3; y para componer números más grandes usaremos una notación posicional, o sea unidades, decenas, centenas, etc.
Como tenemos 4 símbolos hacemos empaques de 4 esferas y luego hacemos empaques mas grandes de 4 cuatro paquetes cada uno y así sucesivamente.

Como se puede ver, haciendo primeros empaques de 4 esferas nos quedan dos que no forman un empaque completo. Continuamos haciendo el procesos pero ahora con las cajas azules

Y vemos que sólo se pudo completar una caja roja con 4 azules. Por lo tanto estamos listos para decir que tenemos en totalidad la cantidad de esferas que caben en 1 caja roja, 3 cajas azules y 2 esferas sueltas. En este ejemplo el numero de elemnetos tomados para etiquetar es la base, osea 4. Entonces la cantidad de esferas contadas usando la base 4 sera de 132 esferas.


El procesamiento de datos dentro de un computador tiene como base las **ALU(Arithmetic Logic Unit)** o unidades aritméticas lógicas. Una ALU debe procesar números usando el mismo formato que el resto del circuito digital.

Para los procesadores modernos, este formato casi siempre es la representación del número binario de complemento a dos conocido como **Formato IEEE 754**. Las primeras computadoras usaron una amplia variedad de sistemas de numeración, incluyendo complemento a uno, formato signo-magnitud, e incluso verdaderos sistemas decimales, con diez tubos por dígito [Ver más](https://es.wikipedia.org/wiki/Unidad_aritm%C3%A9tica_l%C3%B3gica#Operaciones_simples).

 Entero base 10 a Entero base 2

Para hallar los dígitos adecuados tenemos varios métodos: por asignación de potencias usando una tabla, por residuos o por logaritmos.

In [ ]:
import pandas as pd
N=149
c = [N]
r = []
i=0
while c[-1]>1:
    c.append(c[i]//2)
    r.append(c[i]%2)
    i+=1
r.append(c[-1])
print("El número",N,"en base dos es:",r[::-1])
pd.DataFrame({"Operación":["%d/2"%(c[i]) for i in range(len(c))],
              "Cociente":["0" if i==len(c)-1 else c[i+1] for i in range(len(c))],"Residuo":r})

El número 149 en base dos es: [1, 0, 0, 1, 0, 1, 0, 1]

  Operación Cociente  Residuo
0     149/2       74        1
1      74/2       37        0
2      37/2       18        1
3      18/2        9        0
4       9/2        4        1
5       4/2        2        0
6       2/2        1        0
7       1/2        0        1

In [ ]:
import math

n = []
k = []
resta = [N]
i=0
while resta[i]>0:
    k.append((math.log(resta[i])/math.log(2)))
    n.append(math.trunc(k[i]))
    resta.append(resta[i] - 2**n[i])
    i+=1

bin_str=[0]*n[0]
for p in n:
    bin_str[p-1] = 1
print("El número",N,"en base dos es:",bin_str[::-1])
pd.DataFrame({"Operación":["log(%d)/log(10)"%(resta[i]) for i in range(len(resta)-1)],
              "k":k,"n":n,"Falta":[resta[i] if i <= len(resta)-1 else 0 for i in range(1,len(resta))]})

El número 149 en base dos es: [1, 0, 0, 1, 0, 1, 0]

          Operación         k  n  Falta
0  log(149)/log(10)  7.219169  7     21
1   log(21)/log(10)  4.392317  4      5
2    log(5)/log(10)  2.321928  2      1
3    log(1)/log(10)  0.000000  0      0

Enteros base 10 a otras bases

In [ ]:
N=149
c = [N]
r = []
i=0
while c[-1]>1:
    c.append(c[i]//5)
    r.append(c[i]%5)
    i+=1
r.append(c[-1])
print("El número",N,"en base 5 es:",r[::-1])
pd.DataFrame({"Operación":["%d/5"%(c[i]) for i in range(len(c))],
              "Cociente":["No" if i==len(c)-1 else c[i+1] for i in range(len(c))],"Residuo":r})

El número 149 en base 5 es: [1, 0, 4, 4]

  Operación Cociente  Residuo
0     149/5       29        4
1      29/5        5        4
2       5/5        1        0
3       1/5       No        1

In [ ]:
N=149
c = [N]
r = []
i=0
while c[-1]>1:
    c.append(c[i]//8)
    r.append(c[i]%8)
    i+=1
r.append(c[-1])
print("El número",N,"en base 8 es:",r[::-1])
pd.DataFrame({"Operación":["%d/8"%(c[i]) for i in range(len(c))],
              "Cociente":["No" if i==len(c)-1 else c[i+1] for i in range(len(c))],"Residuo":r})

El número 149 en base 8 es: [0, 2, 2, 5]

  Operación Cociente  Residuo
0     149/8       18        5
1      18/8        2        2
2       2/8        0        2
3       0/8       No        0

Ejercicios enteros base 10 a base 2

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('XSF4z7l3Pf0')

In [ ]:
import numpy as np
pd.DataFrame({"2^n":[2**(-m) for m in range(1,10)],"Suma 2^n":[1-2*(0.5)**m for m in range(2,11)]},index=np.arange(-1,-10,-1,dtype=np.int)).T

           -1    -2     -3      -4  ...        -6        -7        -8        -9
2^n       0.5  0.25  0.125  0.0625  ...  0.015625  0.007812  0.003906  0.001953
Suma 2^n  0.5  0.75  0.875  0.9375  ...  0.984375  0.992188  0.996094  0.998047

[2 rows x 9 columns]

Si partimos la serie en los valores acumulados por secciones, es probable que no podamos representar todos os fraccionarios con pocos números después de la coma, incluso es posible que tengamos que aproximar o redondear pues podríamos caer en un bucle infinito esperando poder hallar la representación exacta. Por ejemplo, el fraccionario 0.51

In [ ]:
N =np.longdouble(0.51)
r = []
i=0
resta=[N]
mul = []
while resta[-1]>0 and i<100:
    mul.append(resta[i]*np.longdouble(2.0))
    r.append(np.trunc(mul[i]))
    resta.append(mul[i]-r[i])
    i+=1

print("El número",N,"en base 2 es 0.",r)
pd.DataFrame({"Operación":["%f*2"%(resta[i]) for i in range(len(resta)-1)],
              "Resultado":mul,"Valores":r}).T

El número 0.5100000000000000089 en base 2 es 0. [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0]

                   0           1   ...          50          51
Operación  0.510000*2  0.020000*2  ...  0.250000*2  0.500000*2
Resultado        1.02        0.04  ...         0.5         1.0
Valores           1.0         0.0  ...         0.0         1.0

[3 rows x 52 columns]

Este fraccionario necesita de 51 números (dígitos entre 0 y 1) para poder representar con exactitud computacional el fraccionario, porque por supuesto cuando las operaciones tengan más de 16 dígitos después de la coma, el valor será naturalmente truncado, gracias al formato de representación de los procesadores actuales.